git_ned_ros/
archive/
v_ned2_sim/aruco_cubes/materials/
v_ned2_sim/materials


*.log
*.tmp
*.bak

######################################
# Git Template for ROS2 gitinore
# https://github.com/github/gitignore/blob/main/community/ROS2.gitignore

install/
log/
build/

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE